.heroPage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    border-bottom: 2px solid var(--text-color);
}

.heroPage img {
    position: absolute;
    width: 80px;
    top: -50px;
    left: 80px;
    opacity: .3;
}

.home--title {
    position: relative;
    font-size: 48px;
    scale: 1;

}

.home--title h1 {
    font-size: 2em;
}

.home--title h2 {
    font-size: .5em;
    transform: translateX(140px);
}

/* .disableClick>* {
    pointer-events: none;
} */


@media screen and (max-width: 720px){
    .heroPage {
        margin-top: 50px;
        height: auto;
        border: none;
        scale: .65;
    }



    .home--title h1 {
        font-size: 1.5em;
    }

    .home--title h2 {
        transform: translate(45px,-10px);
    }
}